@page
@model ProductModel;

@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Premade Products</h1>
</div>

@foreach(var item in Model.Product)
{
    <div class="row">
        <hr class="my-4">
        <div class="col-7">
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            <p class="fs-5">@Html.DisplayFor(modelItem => item.Description)</p>
        </div>
        <div class="col-5">
            <img src="@Html.DisplayFor(modelItem => item.ImageURL)" class="img-fluid">
        </div>
    </div>
}