@page
@model ProductModel;

@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4">Premade Products</h1>
</div>

<hr class="my-4">
@foreach(var item in Model.Product)
{
    <div class="card border-secondary mb-3 mx-auto" style="max-width: 800px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Html.DisplayFor(modelItem => item.ImageURL)" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="card-footer text-end">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                        <button class="btn btn-outline-success" type="submit">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
}